 * {
  margin: 0;
  padding: 0;
 }

 body {
   font-family: 'Ralewey', sans-serif;
 }

.row {
  width: 100%;
}

#home {
  width: 100%;
  height: 100vh;
  background-image: url(../img/slide1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#home a {
  color: white;
}

#home img {
  width: 204px;
  height: 68px;
  margin-top: 160px;
  vertical-align: middle;
  margin-bottom: 69px;
}

#home .text {
  color: white;
  font-size: 33px;
}

#home li {
  margin-top: 20px;
  display: inline-block;
  padding: 15px;
}

#home .fa {
  color: white;
  padding-right: 10px;

}

#home .btn-home {
  border: 1px solid #0095FF;
  color: white;
  padding: 17px 45px;
  opacity: .8;
}

#home .btn-home1 {
  background: #0095FF;
}

#home .btn-home2 {
  background: transparent;
  transition: all ease .3s;
}

#home .btn-home2:hover {
  background: #0095FF;
  transition: all ease .3s;
}

#features {
  width: 100%;
  height: auto;
  padding: 100px;
}

#features .title {
  font-size: 20px;
  color: white;
  padding: 20px;
}
