#customize{
  padding: 30px;
}

#customize a{
  text-decoration: none;
  margin: -2px;
}

#customize a:link{
  color: inherit;
}

#customize .separator{
  float: left;
  width: 40%;
}

#customize .left-side{
  margin-top: 60px;
}

#customize .right-side{
  margin-top: 40px;
}

/* BUTTON SECTION*/
#customize .customize-button{
  width: 20%;
  margin-top: 60px;
  background-color: inherit;
  padding: 19px 0;
}

#customize .left-button{
  border: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}

#customize .middle-button{
  border: 1px solid lightgray;
  border-radius: 0px;
}

#customize .right-button{
  border: 1px solid lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
}

#customize i{
  padding: 0px 14px;
}
/* END - BUTTON SECTION */

/* PHONE IMAGE */
#customize .customize-img{
  background-image: url(../img/iphones_skew.png);
  background-repeat: no-repeat;
  height: 700px;
}
/*END - PHONE IMAGE*/

/* DESCRIPTION SECTION */

#customize .big-title{
  font-size: 3.4em;
  font-weight: 400;
}

#customize .paragrahp:first-child{
  margin-top: -50px;
}

#customize .paragrahp{
  font-size: 1.3em;
  line-height: 2;
}

#customize .boxy{
  padding-left: 0;
  margin-top: 2em;
}

#customize .customize-parts{
  height: 50px;
  width: 100%;
  padding: 20px 20px 50px 0px;
  font-size: 1.3em;
}
#customize .customize-parts-e{
  display: inline;
}

#customize .customize-parts .customize-parts-e:first-child{
  font-size: 2em;
  color: #0095FF;
}

#customize .customize-parts p{
  vertical-align: top;
}

/* END - DESCRIPTION SECTION*/
