#video {
  background-image: url(../img/video_bg.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 100px 0;
}

#video .brief-content {
  color: #fff;
  visibility: visible;
  animation-duration: 1.5s;
  animation-name: fadeInRight;
}

#video .video-item {
  visibility: visible;
  animation-duration: 1.5s;
  animation-name: fadeInLeft;
}

#video .fluid-width-video-wrapper iframe{
  height: 450px;
  width: 730px;
}
