*{
  margin: 0;
}
body{
  font-family:'Raleway', sans-serif;
}

.separator{
  width: 13%;
  height: 4px;
  background-color: #00BFFF;
  margin: 2em auto;
  }

/*-- REVIEWS --*/
  .review-border{
    border-right: 1px solid lightgrey!important;
  }

  .review-img-border{
    border-radius: 50%;
    border: 7px solid lightgrey;
  }

  .review-title{
    
  }



/*-- SERVICES --*/
  .services-title-1{
    font-size: 50px;
    font-weight: lighter;
  }

  .services-text-1{
    opacity: 0.8;
  }

  .icons-services{
    color: #0095FF;
    font-size: 45px;
    transition: all 0.8s ease-in-out;
  }

  .icons-services:hover{
    transform: rotate(360deg);
  }

  .services-title{
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
  }

  .services-text{
    line-height: 2.2;
    opacity: 0.8;
    font-size: 15px;
  }
